---
import Routes from '~/utils/routes';
import { getCollection } from 'astro:content';
import Section from '../SectionWrapper.astro';
import IconBoxSeam from '~/components/icons/BoxSeam.astro';
import ArticleSummary from '../ArticleSummary.astro';
import { compareDates, formatDate } from '~/utils/date';

type Props = {
    offset?: number;
    count?: number;
};

const {
    offset = 0,
    count = 3,
} = Astro.props;

const projects = (await getCollection('projects'))
    .sort((a, b) => compareDates(b.data.date, a.data.date))
    .slice(offset, offset + count);
---

{
    projects.length === 0 ? null : (
        <Section title="Projects">
            <Fragment slot="icon">
                <IconBoxSeam />
            </Fragment>
            <div class="list">
                {projects
                    .map(({ data, slug }) => (
                        <ArticleSummary
                            title={data.title}
                            date={formatDate(data.date)}
                            description={data.description}
                            tags={data.tags}
                            href={Routes.project(slug)}
                        />
                    ))}
            </div>
        </Section>
    )
}

<style lang="scss" scoped>
    .list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
</style>
