---
import BaseLayout from '~/layouts/Base.astro';
import ProjectsList from '~/components/sections/ProjectsList.astro';
import { getCollection } from 'astro:content';
import { compareDates, formatDate } from '~/utils/date';
import ArticleSummary from '~/components/ArticleSummary.astro';
import Routes from '~/utils/routes';

const articles = await getCollection('articles');

const lastArticles = articles
    .sort((a, b) => compareDates(b.data.date, a.data.date))
    .slice(0, 3);
---

<BaseLayout>
    <h1>Latest articles</h1>
    {lastArticles.map(article => (
        <ArticleSummary
            title={article.data.title}
            date={formatDate(article.data.date)}
            tags={article.data.tags}
            description={article.data.description}
            href={Routes.article(article.slug)}
        />
    ))}
    <a href={Routes.articles()} class="read-more">View all articles</a>
</BaseLayout>

<style scoped lang="scss">
    .read-more {
        display: block;
        text-align: center;
        margin-top: 2rem;
    }
</style>
